*{
    margin: 0px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 50px;
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
    height: 750px;
    width: 750px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #e5e5e5;
}

.gridline{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.gridSquare{
    border: 0.1px solid #e5e5e5;
    background-color: #ffffff;
    flex: 1;
}

#outer{
    display: flex;
    justify-content: center;
    padding: 15px;
}

#clear,
.submit{
    cursor: pointer;
}

.settings{
    padding-left: 30px;
    display: flex;
    gap: 80px;
}

#clear{
    border: 1px solid #ffffff;
    border-radius: 15px;
    padding: 3px;
}